.footer {
  padding: 4rem 2rem 0;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-links > p {
  padding: 1rem 0;
  cursor: pointer;
}


@media(max-width: 500px) {
  .footer-section {
    display: block;
  }

  .footer-section > img {
    display: none;
  }
}