.process-pitch {
    font-size: 1.2rem;
    padding: 4rem 0;
    display: grid;
    place-items: center;
}

.process-animation {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: rem;
}

.process-img {
     max-width: 20rem;
     
}

.img-block {
  text-align: center;
}