input:focus {
  outline: none;
}

.search-bar {
  border-radius: 10px;
  padding: 12px 24px;
  width: 30%;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  color: #575756;
}

.search-bar::placeholder {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search-bar:hover,
&:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}
