form {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  border-radius: 10px;
  color: #575756;
  border: 1px solid;
  padding: 6px;
  font-size: 14px;
  max-width: 30%;
}

input {
  border: none;
  flex-grow: 2;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.search-form > button {
  border: none;
  font-size: 1rem;
  color: #4f64a7;
  cursor: pointer;
}

.search-bar::placeholder {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search-bar:hover,
&:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}
