.search-bar {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  border-radius: 10px;
  color: #575756;
  border: 1px solid;
  padding: 6px;
  font-size: 14px;
  max-width: 20rem;
  min-width: 12rem;
  position: relative;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  flex-grow: 2;
  background-color: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

.search-bar > button {
  border: none;
  font-size: 1rem;
  color: #4f64a7;
  cursor: pointer;
  background-color: transparent;
}

input::placeholder {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search-bar:hover,
&:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.search-container {
  display: grid;
  place-items: center;
}

.meal-container {
  display: grid;
  place-items: center;
}

.meal-img {
  max-width: 20rem;
  min-width: 14rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px #e0e0e0;
}

.meal-container > h3 {
  padding: 1.4rem 0;
}

.ingredient-list {
  display: flex;
  flex-wrap: wrap;
}

.ingredient-list p {
  flex-wrap: 1;
}